html
{height: 100%;}
body{
  min-width:1080px;
    min-height:500px;
   margin:0;
   padding:0;
  overflow:scroll;
  word-break: break-word;
   word-wrap: break-word;
font: normal .80em arial, sans-serif;
background:#F7F7F7 url(images/pattern.png)fixed;
}

#header
{ height:120px;}
#logo
{
  width:200px;
  height:120px;
 
float:left;
}
#search
{
  width:640px;
  height:40px;
padding-top:45px;
  margin-left:55px;
 float:left;
  
}
#sbtn
{

 padding-top:45px;
   font-weight: 700;
  float:left;
}
.bt
{
 padding: 0 8px;
	background: #428BCA;
    color:white;
    font-family: Sans-serif;
    font-size: 15pt;
    line-height:35px;
    text-align: center;
    border: 0;
	transition: all 0.3s ease 0s;
}
#search input[type="text"]
{
	   width:635px;
  height:35px;
  font-size:15pt;
  border:1px solid #ddd;
}
.bt:hover
{
background: #3071A9
}

#user
{
  width:300px;
margin-top:10px;
float:right;
margin-right:30px;
}
#user ul li
{
  list-style:none;
  float:right;


}

#user a
{
  text-decoration:none;
padding:5px;
}



#cartt
{
padding-top:20px;
padding-right:85px;
float:right;
 
}

#cartt a
{
    display:inline-block;
    text-decoration:none;
	padding:5px;
}


#ph
{
  width:100%;
  height:50px;
  margin-top:2px;


}

#item
{
  width:100%;
  height:1350px;
  

}
.item
{
  width:100%;
  height:1000px;
  margin-top:15px;
  //border:1px solid black;
}

.i
{
  width:300px;
  height:400px;
  display:block;
  float:left;

}
.ig
{
  width:260px;
  height:260px;
  float:left;

 }
.ig:hover
{
     outline: 3px solid orange;
	 opacity:0.8;
}
.pp ul
{ margin:5px;}
#product{float:left}
#p
{
  width:230px;
  height:402px;}

.line
{
float:left;
height:900px;
width:100%;
margin:2px;

}
.pd li
{
  float:left;
  padding:8px;
  list-style:none;
}
.name{
    height:50px;
	padding-top:5px;
 text-align:center;
}
.name a
{ color: #333;
 font-weight:600;
  text-decoration: none;
}
.status
{
   height:25px;
   width:120px;
   text-align:center;
   margin-left:45px;
font-weight:600;
}
.pri
{float:left;
  height:60px;
 font-weight: 600;
color:black;
font-size: 15px;
 margin: 0 0 5px;
margin-left:32px;}
.dis
{
  height:50px;
   width:150px;
   padding:4px;

   text-align:center;}

.num
{
  float:left;
   width:30px;
    height:30px;
margin-top:5px;

}
.btu
{
width:150px;
 height:40px;
text-align:center;
margin-left:33px;
	
}
.cartbtn
 {

background: #f37021;
   	  text-align:center;
	  color:white;
padding: 7px 10px;
font-size:15px;
font-weight:600;
border: 1px solid #F07444;
    transition: .2s ease;
 }
.cartbtn:hover
{
    background-color: buttonface;
	border: 1px outset buttonface;
	color:#f37021;
	font-size:15px;
	font-weight:600;
   transition: .2s ease;
}
.info{
 height:120px;}

#pb
{
  width:100%;
  height:200px;
  border:1px solid black;
float:left;
}
#ca
{
  width:100%;
  height:150px;
float:left;

}
.vticker
{
	width:800px;
	font-size:16pt;
	margin-left:30px;
	margin-top:5px;
}
.vticker li
{
  list-style:none;
}
#odd
{
  height:92px;
  width:100%;
  float:left;
  background-color:#ebeced;
}
#tt li
{
  float:left;
  list-style:none;
    font-size: 1.5em;
    text-transform: uppercase;
	color:black;
  padding-left:80px;
}
#ty li
{
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;	
 padding-left:250px;
 list-style:none;
 float:left;
}
#brand
{width:100%;height:180px;float:left;}
#brand  li
{
	float:left;
	list-style:none;
	padding-right:55px;
	margin-left:50px;
}

#footer
{width:100%;height:180px;background:#ebeced;clear:both; }
#footer a {text-decoration:none;font-size:12pt;}
.ft 
{float:left;
    padding-top:30px;
	padding-left:10px;
}
.ft li{list-style:none; padding:3px;}

.ftt
{text-align:center;margin-left:350px;padding-top:125px;font-family: proximanova-regular-webfont;
 float:left;
 width:300px;
 color: black;}
.social
{
	float:right;
	margin-right:145px;
	padding-top:100px;
}
.social li
{
	list-style:none;
	float:left;
	padding:3px;
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
  background-color:gray;
}
#toTopHover
{

}
.nav
{
border-bottom:1px solid #d3d3d3;
}
.top-nav{
	float:left;
 }
span.menu {
  display: none;
}
ul.navig {
	padding: 0;
	position: relative;
	margin:0;
}
.top-nav ul li:nth-child(1){
	margin-left:0;
}
ul.navig li span {
	color: #fff;
	margin: 0 10px;
	font-size: 16px;
}
ul.navig li {
	display: inline-block;
	margin: .7em 1em;
	position: relative;
}
ul.navig li a {
    color:#787878;
	font-size:13px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	background: rgba(70, 181, 227, 0);
	text-shadow: 2px 2px 2px #f9f9f9;
	-webkit-text-shadow: 2px 2px 2px #f9f9f9;
	-moz-text-shadow: 2px 2px 2px #f9f9f9;
	-o-text-shadow: 2px 2px 2px #f9f9f9;
	-ms-text-shadow: 2px 2px 2px #f9f9f9;
}
ul.navig li a.sup{
	color:#5f2073;
	background:#f9f9f9;
	font-weight:700;
}
ul.navig li a:hover{
	color: #ff5f3b;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.navig li a:hover ul.navig li a:after{
	display: block;
}
ul.navig li a:after{
	width:15px;
	height:15px;
	background:red;
	display: none;
	content:"";
	position:absolute;
	top:0;
}
/*-- banner --*/
.banner-bg{
	background:url(../images/slider/guitar.png) no-repeat 0px 0px;
	background-size:cover;
	min-height:500px;
}
.banner-img5{
	background:url(../images/slider/AutumnSales.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.banner-img2{
	background:url(../images/slider/dr.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.banner-img3{
	background:url(../images/slider/p.jpg) no-repeat 0px 0px;
	background-size: cover;

}
.banner-img4{
	background:url(../images/slider/g.jpg) no-repeat 0px 0px;
	background-size: cover;
}

.banner-info {
	width: 50%;
	margin: 15em 0 0 0;
	padding-bottom: 1em;
}
.banner-info h2{
	color:#FFF;
	font-size: 60px;
	font-weight:600;
	margin:0;
}
.banner-info h2 span{
	display:block;
}
.banner-info  p{
	color:#FFF;
	margin: 1em 0 2em;
	font-size:16px;
}
.banner-info a{
	color:#FFF;
	background:#f45a40;
	padding: .7em 1.5em;
	text-decoration:none;
}
.banner-info a:hover{
	background:#FFF;
	color:#ff674f;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 4%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 41px;
  width: 41px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 4%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 85%;
	z-index: 999;
	left: 46%;
	padding: 0;
	margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:14px;
  width:14px;
  display:inline-block;
  border:2px solid #FFF;
  background: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border: 2px solid #FFFFFF;
	background: #FFF;
}
/*-- banner-bottom --*/
.banner-bottom-grids {
	padding: 6em 0 4em 0;
}
.bottom-grid img{
	width:100%;
}
.bottom-grid-info {
  margin: 1em 0 0 0;
}
.bottom-grid a{
	color: #f45a40;
	font-size: 26px;
	font-family: 'Roboto Condensed', sans-serif;
}
.bottom-grid p{
	color: #7e7f84;
	margin: 1em 0 0 0;
	font-size: 14px;
}


.products-heading h3{
	color:#67686d;
	font-size:25px;
	background-color:#fff;
    font-family: "Gill Sans MT", Gill Sans, Futura, Century Gothic, sans-serif;
	 font-weight: 400;
	text-align:center;
    position:relative;
}
.products-heading h3:before{
	content: '';
  position: absolute;
  top: 39%;
  left: 4%;
  height: 1px;
  width: 35%;
  background-color:#313131;
}
.products-heading h3:after{
	content: '';
  position: absolute;
  top: 39%;
  right: 4%;
  height: 1px;
  width: 35%;
  background-color:#313131;
}
