label.mobile_menu span {
	  margin-left: 10px;
	  color:#FFF;
      font-size:1em;
	  display: none;
	  
}

.nav {
	/* General Font */
	/* General Shape */
   position: relative;
	margin: 1px 0 0 0;
}
ul.nav{
	padding:0;
    margin-left:225px;
	list-style:none;
}
/* Main element of the naviagtion */
.nav > li {
	  display: inline-block;
	 float: left;
	 height:43px;
  background: none;

  margin: .5em 3px 0 10px;
}
.nav li.active, .nav li a:hover {
  color: #ff5f3b;
}
.nav > li:nth-child(5){
	background:none;
}
/* Link Style */
.nav > li > a {
	padding:8px 16px;
  display: block;
  color: #7e7f84;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  background: none;
}
}
.nav > li:nth-child(1) > a,.nav > li:nth-child(5) > a,.nav > li:nth-child(6) > a,
.nav > li:nth-child(7) > a{
	background:none;
}
.nav > li:nth-child(1) > a:hover, .nav > li:nth-child(5) > a:hover, .nav > li:nth-child(6) > a:hover, .nav > li:nth-child(7) > a:hover{
	background:none;
	  color: #ff5f3b;
}
.nav > li:hover > a{
	  color: #ff5f3b;	
	border-color:none;
	background: url(../images/menu-arrow-hover.png) no-repeat 50% 54%;
}
.nav li > ul li a:hover{
	text-decoration:none;
}
/* Simple multilevel dropdown */
.nav > li > ul {
	opacity:0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top: 44px;
	width: 150px;
	text-align: left;
	margin-top:15px;
	padding: 0px;
	z-index: 99;
}
/* First level appear */
.nav > li:hover > ul {
	  opacity: 1;
  visibility: visible;
  margin-top: 0px;
  border-top: 1px solid #000;
}
/* Style for dropdown links */
.nav li > ul li{	
	position: relative;
 }
.nav li > ul li a{
	color: #7e7f84;
  font-size: 0.875em;
  display: block;
  background-color: #FFF;
  padding: 5px 8px;
  text-transform: uppercase;
  position: relative;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}
.nav li > ul li a span.arrow{
	width:15px;
	height:10px;
	position:absolute;
	right:5px;
	top:15px;
	background:url(../images/arrow-before.png) no-repeat center;
}
.nav > li > ul  li:hover a span.arrow{
	background:url(../images/nav-arrow.png) no-repeat center
}
.nav > li > ul  li:hover {
	color:#000;
	background:#fff;
	-moz-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}
.nav ul.dropdown2 {
	color: #FFF;
}
.nav ul  li:hover > a {
	color:#000;
	background:#fff;
}
/* Second and third dropdown level */
.nav > li > ul li ul {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:0px;
	left: 200px;
	width: 200px;
	text-align: left;
	padding: 0px;
	margin-left: 30px;
}
.nav > li > ul li ul li:hover {
	background-color:#FFF;
}
input#mobile_menu { display: none; }
.nav > li > ul li ul li ul {
	background-color:#FFF;
}
.nav > li > ul li ul li ul li:hover {
	color:#0572B8;
}
/* Second and third level appears */
.nav > li ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin-left: 0px;
}
/* Full width dropdown */
.nav > li > .fulldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:118px;
	left: 0px;
	background-color: #0078b3;
	width: 100%;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
	z-index: 99;
	overflow: hidden;
}
/* Full dropdown appears */
.nav > li:hover .fulldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}
.nav ul li:hover:after {
	color: white;
}
/* coldrop based dropdown */
.nav .coldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:118px;
	background-color: #0078b3;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
	padding: 0 10px;
	z-index: 99;
}
.nav > li:hover .coldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}
.nav .coldrop .column {width: 130px;margin:0 9px;}
/* coldrop for full width dropdown */
.nav .column {
	width: 14.1%;
	float: left;
	color:white;
	margin: 0 0 0 2.2%;
}
.nav .column ul {
	padding: 0;
	margin: 0;
}
.nav .column ul li {
	padding: 0;
	list-style: none;
	font-size: 11px;
}
.nav .column h3 {
	font-size: 14px;
	padding: 14px 0;
	font-weight: 400;
	margin: 5px 0 5px 0;
}
.nav .column ul li a {
	display: block;
	padding: 0 0 15px 0;
}
.nav > li > ul li ul, .nav li >ul li, .nav > li > .fulldrop, .nav > li > .coldrop, .nav > li > ul, .nav > li {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; /* Firefox 4 */
	-webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.3s ease-in-outs; /* Opera */
}
@media all and (max-width:1366px) {
	.nav > li > a {
		font-size: 14px;
	}
}
@media all and (max-width:1280px) {
	.nav > li > a {
		font-size: 1.15em;
		letter-spacing: 0;
	}
	.navigation {
		margin-top: -10px;
	}
}
@media all and (max-width:1024px) {
	.nav > li > ul {
		width: 160px;
	}
	.nav > li {
		margin: 0 12px;
	}
}
@media only screen and (max-width: 959px) {
	.nav > li > a{
		padding:10px 12px;
	}
}
@media only screen and (max-width:800px) {
	.nav {
      display: none;
    }
	label.mobile_menu span {
		display: inline;
	}
	label.mobile_menu {
		width: 100%;
	}
	label.mobile_menu {
      position: relative;
      display: block;
      width: 100%;
      background-color:#454B50;
      padding: 10px 0;
      border-bottom: 1px solid white;
	  margin-top: 10px;
	  cursor: pointer;
	}
	.nav {
		padding: 0;
	}
	.nav > li > a {
		border-width:0;
	}
	.nav li {
		width: 100%;
		text-align: left;
		margin-left: 0;
	}
	.nav > li {
		border-right: none;
    	padding:5px 0px;
    	position: relative;
	}
	.nav > li > a {
		display:block;
		font-size:0.85em;
	}
	.nav li > ul li a span.arrow {
	   right:20px;
	   background: url(../images/nav-arrow2.png) no-repeat center;	
	}
	.nav li ul, .nav li .fulldrop, .nav li .coldrop {
		top:45px;		
	}
	.nav > li {
		background:none;
	}
	.nav li ul {
		padding: 0;
	}
	.nav > li:hover > a {
	    background-color:#CACACA;
	}
	.nav > li > a {
	background: url(../images/menu-arrow.png) no-repeat 97% 48%;
	}
	.nav > li:hover > a{
		background:url(../images/menu-arrow.png) no-repeat 97% 48%;
	}
	.nav .fulldrop, .nav .coldrop {
		width:95%;
		padding: 0 2.5%;
	}

	.nav li > ul li {
		padding: 18px 0px;
	}

	.nav .column, .nav .coldrop .column { 
		width: 94%;
		padding: 0 3%;
	}

	.nav > li > ul {
		width: 100%;
	}

	.nav > li > ul li ul {
		width: 100%;
		top:36px;
		left: 0;
		margin-top: 30px;
		z-index: 2;
	}

	.nav > li > ul > li:hover ul {
		margin-top: 0;
	}
  #mobile_menu:checked+.nav {
		display: block
	}
    label.mobile_menu:after {
        position: absolute;
        top:-2px;
        right: 10px;
        content: "\2261";
        font-size: 30px;
        color: white;
    }
	.nav > li > ul li ul li ul {
		width: 100%;
		top:43px;
		left: 0px;
		margin-left: 0;
		margin-top: 30px;
	}
	.nav > li > ul > li ul li:hover ul{
		margin-top: 0;
	}
	.nav > li > ul li{ 
		padding:0px 0 0px 0%;
		width:100%;
	}
	.nav > li > ul li ul {
		margin-left:0;
	}
	.nav > li > ul li ul li{ 
		padding: 5px 0 5px 0%;
		width:100%;
	}
	.nav > li > ul li ul li ul li{ 
		padding: 15px 0 15px 0%;
		width:100%;
	}
	.nav ul li.dropdown:after {
		left: 90%;
	}
	/* Disable animation on mobile device */
	.nav > li > ul li ul, .nav li >ul li, .nav > li > .fulldrop, .nav > li > .coldrop, .nav > li > ul, .nav > li {
		transition: none;
		-moz-transition: none; 
		-webkit-transition: none; 
		-o-transition: none; 
	}
	.navigation {
		margin-top: 0;
	}
}
@media only screen and (max-width:768px) {
.nav > li > ul {
  width: 100%;
}
}
@media only screen and (max-width:480px) {
	label.mobile_menu {
		padding: 7px 0;
		margin-top: 8px;
	}
	label.mobile_menu:after {
		font-size: 25px;
	}
}
